<style>
  table {
    margin-top: 20px;
  }

  th {
    padding: 15px; /* Adjust the padding for proper spacing */
    text-align: left; /* Align text to the left */
  }

  td {
    padding: 10px;
  }

  .btn-info,
  .btn-danger,
  .button-back {
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
</style>

<strong class="large-text"><p>Book List :</p></strong>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id:</th>
      <th>Title:</th>
      <th>Author:</th>
      <th>ISBN:</th>
      <th>Genre:</th>
      <th>Language:</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.bookISBN }}</td>
      <td>{{ book.genre }}</td>
      <td>{{ book.language }}</td>
      <td>
        <button (click)="updateBook(book.id)" class="btn btn-info">
          Update
        </button>
      </td>
      <td>
        <button (click)="deleteBook(book.id)" class="btn btn-danger">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
<br>
  <button type="button" class="button-back" (click)="goBack()">Back</button>
</table>
