<h1>Thank you for submitting!</h1>

<style>
  .button-back {
    display: inline-block;
    background-color: #e33494; /* Change the background color as needed */
    color: #ffffff; /* Change the text color as needed */
    text-decoration: none;
    border-radius: 20px;
    padding: 9px 20px;
    margin-right: 10px;
    cursor: pointer;
  }

  .button-back:hover {
    background-color: #b300a7; /* Change the background color on hover */
  }

  .margin-right-10 {
    margin-right: 10px;
  }
</style>

<span class="margin-right-10"></span>
<a routerLink="/home" class="button-back">Go Back</a>