
<style>
  
  table {
    margin-top: 20px;
  }

  th {
    padding: 15px; /* Adjust the padding for proper spacing */
    text-align: left; /* Align text to the left */
  }

  td {
    padding: 10px;
  }

  .btn-info,
  .btn-danger,
  .button-back {
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
</style>

<strong class="large-text"><p>Student List :</p></strong>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id:</th>
      <th>Name:</th>
      <th>Address:</th>
      <th>Email:</th>
      <th>Date Of Birth:</th>
      <th>Gender:</th>
      <th>Department:</th>
      <th>Mobile Number:</th>
      <th>Username:</th>
      <th>Password:</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{student.studName}}</td>
      <td>{{student.studAddress}}</td>
      <td>{{student.studEmail}}</td>
      <td>{{student.studDOB}}</td>
      <td>{{student.studGender}}</td>
      <td>{{student.studDepartment}}</td>
      <td>{{student.studMobno}}</td>
      <td>{{student.username}}</td>
      <td>{{student.password}}</td>
      <td>
        <button (click)="updateStudent(student.id)" class="btn btn-info">
          Update
        </button>
      </td>
      <td>
        <button (click)="deleteStudent(student.id)" class="btn btn-danger">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
<br>
  <button type="button" class="button-back" (click)="goBack()">Back</button>
</table>