
<strong class="large-text"><p>Add Admin</p></strong>
<div class="col-md-6 offset-md-3">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <strong><label>Name:</label></strong><br>
      <input type="text" class="form-control" id="name" 
      [(ngModel)]="admin.adminName" name="name">
    </div><br>

    <div class="form-group">
      <strong><label>Email:</label></strong><br>
      <input type="text" class="form-control" id="email" 
      [(ngModel)]="admin.adminEmail" name="email">
    </div><br>

    <div class="form-group">
      <strong><label>Username:</label></strong><br>
      <input type="text" class="form-control" id="username" 
      [(ngModel)]="admin.adminusername" name="username">
    </div><br>

    <div class="form-group">
      <strong><label>Password:</label></strong><br>
      <input type="password" class="form-control" id="password" 
      [(ngModel)]="admin.adminpassword" name="password">
    </div><br>

    <!-- Add any additional fields for the Admin entity -->

    <br>
    <style>
      .button-submit,
      .button-back {
        border-radius: 20px; /* Adjust the value to control the oval shape */
        padding: 10px 20px; /* Adjust padding for button size */
        margin-right: 10px;
        cursor: pointer;
      }
    </style>
    <button class="btn btn-success button-submit" type="submit">Submit</button>
    <span style="margin-right: 10px;"></span>
    <button type="button" class="btn btn-danger button-back" (click)="goBack()">Back</button>
  </form>
</div>
